## 011 データを読み込む

In [18]:
import pandas as pd
import seaborn as sns

In [19]:
uriage_data = pd.read_csv('./input/100knoks/1-2/uriage.csv')
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [32]:
uriage_data.describe()

        item_price
count  2612.000000
mean   1296.401225
std     717.955460
min     100.000000
25%     700.000000
50%    1300.000000
75%    1900.000000
max    2600.000000

In [33]:
uriage_data.dtypes

purchase_date     datetime64[ns]
item_name                 object
item_price               float64
customer_name             object
purchase_month            object
dtype: object

In [20]:
#kokyaku_data = pd.read_excel('./input/100knoks/1-2/kokyaku_daicho.xlsx')
kokyaku_data = pd.read_csv('./input/100knoks/1-2/kokyaku_daicho.csv')
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com  2017年2月16日
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com  2017年5月17日
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com  2018年1月27日

## 012 データの揺れを見る

In [23]:
uriage_data['purchase_date'].head()

0    2019-06-13 18:02:34
1    2019-07-13 13:05:29
2    2019-05-11 19:42:07
3    2019-02-12 23:40:45
4    2019-04-22 03:09:35
Name: purchase_date, dtype: object

In [24]:
uriage_data['item_name'].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

In [26]:
uriage_data['item_price'].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

## 013 揺れがあるまま集計

In [28]:
uriage_data['purchase_date'] = pd.to_datetime(uriage_data['purchase_date'])
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime("%Y%m")
uriage_data['purchase_month'].head()

0    201906
1    201907
2    201905
3    201902
4    201904
Name: purchase_month, dtype: object

In [30]:
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', aggfunc='size', fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [36]:
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', aggfunc='sum', fill_value=0)
res

               item_price                                                  \
item_name             商品W  商 品 n  商品E   商品M   商品P   商品S   商品W   商品X 商  品O
purchase_month
201901                  0   1400    0     0     0     0     0     0     0
201902                  0      0    0     0     0     0     0  2400     0
201903                  0      0  500  1300  1600     0     0     0     0
201904               2300      0    0     0     0     0     0     0     0
201905                  0      0    0     0     0  1900     0     0     0
201906                  0      0    0     0     0     0  2300     0     0
201907                  0      0    0     0     0     0     0     0     0

                      ...                                                  \
item_name      商  品Q  ...   商品k   商品l   商品o   商品p   商品r   商品s   商品t   商品v
purchase_month        ...
201901             0  ...  1100  1200  1500     0     0     0     0     0
201902             0  ...     0     0     0     0     0  1900  2000  2200
201903             0  ...     0     0     0     0     0     0     0     0
201904          1700  ...     0     0     0     0     0  1900     0     0
201905             0  ...     0  1200     0     0     0     0     0     0
201906             0  ...     0     0     0  1600     0     0     0     0
201907             0  ...     0     0  1500     0  1800     0     0     0


item_name        商品x   商品y
purchase_month
201901             0     0
201902             0     0
201903             0     0
201904             0     0
201905             0  2500
201906          2400     0
201907             0     0

[7 rows x 99 columns]

## 014 商品名の揺れを補正